<%= form_for [@car, @part] do |f| %>
    <% if @part.errors.any? %>
        <div id="error_explanation">
            <h2>There were some errors:</h2>

            <ul>
                <% @part.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field<%= ' field_with_errors' if @part.errors[:name].any? %>">
        <%= f.label :name %>
        <%= f.text_field :name %><br>
    </div>
    <br />

    <div class="field<%= ' field_with_errors' if @part.errors[:rating].any? %>">
        <%= f.label :rating %>
        <%= f.number_field :rating %><br>
    </div>
    <br />

    <%= f.hidden_field :car_id %>
    <%= f.hidden_field :user_id %>
    <%= f.submit %>
<% end %>


<div class="field<%= ' field_with_errors' if @part.errors[:name].any? %>">
</div>